venv/
.env
*.env

# Data directories
data/processed/
data/raw/

# Scratch directory
scratch/

# Logs
logs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db

# Backtesting Results
strategy/results/

# Exclude all data directories and files first
binance_data_pipeline/data/*
binance_data_pipeline/data/**/*

# Then explicitly include what you want to keep
!binance_data_pipeline/data/markets/
!binance_data_pipeline/data/markets/**
!binance_data_pipeline/data/contracts/
!binance_data_pipeline/data/contracts/fut_expirys.csv

# Re-exclude other files in contracts directory
binance_data_pipeline/data/contracts/*
!binance_data_pipeline/data/contracts/fut_expirys.csv

# Exclude results directory
backtesting/results/
backtesting/

expiry_backup.csv